<ion-content [fullscreen]="true" class="premium-bg">
  
  <div class="top-bar">
    <div class="logo">
      <ion-icon name="sparkles" color="primary"></ion-icon>
      <span>CleanGallery</span>
    </div>
    <div class="counter" *ngIf="fotos.length > 0">
      {{ fotos.length }} restantes
    </div>
  </div>

  <div class="stack-container">
    
    <div *ngIf="fotos.length === 0" class="empty-state">
      <div class="circle-icon" (click)="lanzarConfetti()"> <ion-icon name="checkmark-done"></ion-icon>
      </div>
      <h3>¡Todo limpio!</h3>
      <p>Has recuperado espacio en tu celular.</p>
      <ion-button fill="clear" (click)="cargarFotosReales()">Cargar más fotos</ion-button>
    </div>

    <div 
      class="card-wrapper" 
      *ngFor="let foto of fotos; let i = index"
      [style.z-index]="i"
      appSwipeCard
      (choiceMade)="handleChoice($event, foto)"
      [class.disabled-card]="i !== fotos.length - 1" 
    >
      <div class="photo-card">
        <img [src]="foto.src" />
        
        <div class="card-overlay">
          <div class="info-row">
            <div class="photo-badge size-badge">
              <ion-icon name="server-outline"></ion-icon> {{ foto.sizeStr }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="action-buttons" *ngIf="fotos.length > 0">
    
    <button class="btn-action rewind" (click)="deshacer()" [disabled]="historial.length === 0">
      <ion-icon name="refresh"></ion-icon>
    </button>

    <button class="btn-action delete" (click)="handleChoice('borrar', fotos[fotos.length - 1])">
      <ion-icon name="trash-outline"></ion-icon>
    </button>

    <button class="btn-action keep" (click)="handleChoice('guardar', fotos[fotos.length - 1])">
      <ion-icon name="heart"></ion-icon>
    </button>

  </div>

</ion-content>