<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Limpiador de Galería</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <div class="stack-container">
    <div *ngIf="fotos.length === 0" class="empty-state">
      <h3>¡No hay más fotos!</h3>
      <p>Tu galería está limpia.</p>
    </div>

    <div 
      class="card-wrapper" 
      *ngFor="let foto of fotos; let i = index"
      [style.z-index]="i"
      appSwipeCard
      (choiceMade)="handleChoice($event, foto)"
      [class.disabled-card]="i !== fotos.length - 1" 
    >
      <div class="photo-card">
        <img [src]="foto.src" />
        <div class="info">
          <h2>{{ foto.name }}</h2>
        </div>
      </div>
    </div>
  </div>

</ion-content>